*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore
keystore.properties

# Android Studio
.navigation/
*.apk
*.ap_
*.aab

# Gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/androidTest/**/build/

app/release/
app/debug/
